.tasklist-control-pane {
  background-color: lightgrey;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 1px solid grey;
}

.tl-control-btn {
  padding: 2px !important;
  max-height: 30px;
  white-space: nowrap;
}
