.timesheet-control-pane {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 34px;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 100%;
}

.task-selector {
  display: flex;
  flex-direction: column;
  margin: 20% auto auto;
  background-color: white;
  padding: calc(min(4.5%, 34px)) calc(min(8%, 60px)) calc(min(6%, 45px));
  width: 40%;
  height: fit-content;
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.viewer-wrapper {
  margin: 10vh auto auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.viewer-header {
  text-align: center;
  padding: 4px;
  border-radius: 12px 12px 0px 0px;
}

.viewer-pane {
  margin: 32px;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: row;
}

.hour-row {
  border-right: 1px dashed rgb(224, 224, 224);
}

.hour-row:last-of-type {
  border-right: none;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0px !important;
}

.punch-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 370px;
  padding: 25px;
  margin: 0;
}

#punch-pane {
  height: fit-content;
}

#timesheet-master-pane {
  display: flex;
  flex-direction: column;
}

.timesheet-display {
  margin-top: 0;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 85px;
}
