.task-card {
  height: 4%;
}
.info-cell {
  width: calc(100% - 30px);
}
.delete-cell {
  width: 30px;
  min-width: 0 !important;
}
.delete-cell > button,
.info-cell > button {
  height: 30px;
  width: 100%;
  min-width: 0 !important;
}
.task-button {
  justify-content: flex-start !important;
  text-transform: none !important;
}
.task-delete {
  padding: 0 !important;
}
.delete-icon {
  font-size: 1.3rem !important;
}
