.task-editor {
  background-color: #e3f2fd;
  padding: 25px 0px 25px;
  border: 1px solid grey;
  border-top: none;
}

.task-editor-btns {
  margin: 9px 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.task-editor-input {
  margin: 4px 25px 0px !important;
}
