.task-card {
  z-index: 1;
}
.info-cell {
  width: 96%;
}
.delete-cell {
  width: 4%;
  min-width: 0 !important;
}
.delete-cell > button,
.info-cell > button {
  height: 24px;
  width: 100%;
  min-width: 0 !important;
}
.task-button {
  justify-content: flex-start !important;
  text-transform: none !important;
}
.task-delete {
  padding: 0 !important;
}
.delete-icon {
  font-size: 1.3rem !important;
}
