.task-delete {
  width: 5%;
  border: none;
  border-left: 1px solid grey;
}

.task-button {
  width: 95%;
  border: none;
  padding-left: 15px;
  justify-content: flex-start !important;
  text-transform: none !important;
}

.task-card {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: auto;
  border-bottom: 1px solid rgb(158, 169, 177);
  z-index: 1;
}

.task-card-btn-grp {
  width: 100%;
}

.delete-icon {
  font-size: 1.3rem !important;
}
