.menu-icon {
  margin-right: 1rem !important;
}

.clickable-typography:hover {
  cursor: pointer;
}

.logout-btn {
  margin: auto 0 auto auto !important;
  text-transform: none !important;
  font-size: medium !important;
}

.master-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: calc(100% - 48px);
  width: 100%;
}

.master-pane {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}
