.auth-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.login-inner-wrapper {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login-container {
  width: 400px;
  margin: 35vh auto auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
