.menu-icon {
  margin-right: 1rem !important;
}

.clickable-typography:hover {
  cursor: pointer;
}

.logout-btn {
  margin: auto 0 auto auto !important;
  text-transform: none !important;
  font-size: medium !important;
}
