@import url("component/master/MasterContainer/MasterContainer.css");
@import url("component/helper-components/YesNoDialog/YesNoDialog.css");
@import url("component/tasks/TaskCard/TaskCard.css");
@import url("component/tasks/TaskEditor/TaskEditor.css");
@import url("component/tasks/TasklistControlPane/TasklistControlPane.css");
@import url("component/tasks/TasklistMasterPane/TasklistMasterPane.css");
@import url("component/tasks/TasklistViewer/TasklistViewer.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button > * {
  pointer-events: none;
}
