button {
  white-space: nowrap;
  overflow: hidden;
}

.task-editor {
  display: flex;
  flex-direction: column;
  margin: calc(min(84px, 10%)) auto auto;
  /*background-color: #e3f2fd;*/
  background-color: white;
  padding: calc(min(4.5%, 34px)) calc(min(8%, 60px)) calc(min(6%, 45px));
  width: 80%;
  height: fit-content;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.task-editor-btns {
  margin: 5% auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  max-width: 94%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  & h4 {
    text-align: center;
    line-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}

.input-wrapper > *:not(:first-child) {
  margin-top: calc(min(6%, 24px)) !important;
}

.input-wrapper > *:first-child {
  height: 56px;
}
